/* Variables */
:root {
    --color-text: #e7e7e7;
    --color-blue-dark-m: #006561;
    --color-blue-dark-s: #1D7471;
    --color-blue-light-s: #009B95;
    --color-blue-light-m: #33CDC7;
    --color-yellow-light-s: #FFE900;
    --color-yellow-dark-s: #BFB330;
    --color-yellow-dark-m: #A69800;
}

/* Fonts */
@font-face {
    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/benchnine/v16/ahcev8612zF4jxrwMosT6-xhgmy4.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}

/* Basic */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;

    background-color: var(--color-text);
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.wrapper {
    width: 100%;
    height: 100%;

    position: relative;
}

/* Content */
.header,
.main {
    position: absolute;
    top: 0;
    left: 40%;

    width: 270px;
    margin: 50px auto;
}

.navigation-list__item_word {
    display: block;
    text-align: justify;
    font-family: "BenchNine";
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 0px;
}

/* Color gamma */
.navigation-list__item:nth-child(1) {
    color: var(--color-blue-light-m);
}
.navigation-list__item:nth-child(2) {
    color: var(--color-blue-light-s);
}
.navigation-list__item:nth-child(3) {
    color: var(--color-blue-dark-s);
}
.navigation-list__item:nth-child(4) {
    color: var(--color-blue-dark-m);
}
.navigation-list__item:nth-child(5) {
    color: var(--color-yellow-dark-m);
}
.navigation-list__item:nth-child(6) {
    color: var(--color-yellow-dark-s);
}
.navigation-list__item:nth-child(7) {
    color: var(--color-yellow-light-s);
}

/* String width */
.navigation-list__item:nth-child(1) .navigation-list__item_word:nth-child(1) {
    font-size: 9em;
}
.navigation-list__item:nth-child(1) .navigation-list__item_word:nth-child(2) {
    font-size: 3.8em;
}

.navigation-list__item:nth-child(2) .navigation-list__item_word:nth-child(1) {
    font-size: 4.8em;
}
.navigation-list__item:nth-child(2) .navigation-list__item_word:nth-child(2) {
    font-size: 6.4em;
}

.navigation-list__item:nth-child(3) .navigation-list__item_word:nth-child(1) {
    font-size: 3.8em;
}
.navigation-list__item:nth-child(3) .navigation-list__item_word:nth-child(2) {
    font-size: 6em;
}

.navigation-list__item:nth-child(4) .navigation-list__item_word {
    font-size: 4.5em;
}

.navigation-list__item:nth-child(5) .navigation-list__item_word:nth-child(1) {
    font-size: 4.8em;
}
.navigation-list__item:nth-child(5) .navigation-list__item_word:nth-child(2) {
    font-size: 7.9em;
}

.navigation-list__item:nth-child(6) .navigation-list__item_word:nth-child(1) {
    font-size: 4.9em;
}
.navigation-list__item:nth-child(6) .navigation-list__item_word:nth-child(2) {
    font-size: 7.9em;
}

.navigation-list__item:nth-child(7) .navigation-list__item_word:nth-child(1) {
    font-size: 8.2em;
}
.navigation-list__item:nth-child(7) .navigation-list__item_word:nth-child(2) {
    font-size: 7.8em;
}

/* Section pool */
.section {
    position: absolute;

    font-family: "Open Sans Condensed";
    color: var(--color-text);

    padding: 20px;
    border-radius: 30px 0 30px 0;
}
.section span.section-content {
    display: inline-block;
    width: 0;
    height: 0;

    position: absolute;
    border-left: 20px solid transparent;
}
.section:nth-child(even) span.section-content {
    left: -20px;
}
.section:nth-child(1) {
    height: 75px;
    width: 75px;
    padding: 10px;

    top: 30px;
    left: -100px;

    background-color: var(--color-blue-light-m);

    font-size: 1.5em;
    line-height: 1;
    border-radius: 0 20px 0 20px;
}
.section:nth-child(1) span.section-content {
    border-left: 12px solid transparent;
    border-right: 0px solid var(--color-blue-light-m);
    border-bottom: 12px solid var(--color-blue-light-m);


    top: 63px;
    left: 75px;
    transform: rotateY(180deg);
}

.section:nth-child(2) {
    height: 150px;
    width: 170px;

    top: 10px;
    left: 100%;

    background-color: var(--color-blue-light-m);
}
.section:nth-child(2) span.section-content {
    border-right: 0px solid var(--color-blue-light-m);
    border-bottom: 20px solid var(--color-blue-light-m);

    top: 130px;
}
.section:nth-child(2) img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 20px 0;
}

.section:nth-child(3) {
    height: 200px;
    width: 250px;

    top: 165px;
    left: -280px;

    background-color: var(--color-blue-light-s);
}
.section:nth-child(3) span.section-content {
    border-right: 0px solid var(--color-blue-light-s);
    border-bottom: 20px solid var(--color-blue-light-s);

    top: 0;
    left: 250px;
    transform: rotate(180deg);
}

.section:nth-child(4) {
    height: 180px;
    width: 250px;

    top: 245px;
    left: 280px;

    background-color: var(--color-blue-dark-s);

}
.section:nth-child(4) span.section-content {
    border-right: 0px solid var(--color-blue-dark-s);
    border-bottom: 20px solid var(--color-blue-dark-s);

    top: 160px;
}

.section:nth-child(5) {

}
.section:nth-child(5) span.section-content {

}

.section:nth-child(6) {

}
.section:nth-child(6) span.section-content {

}

.section:nth-child(7) {

}
.section:nth-child(7) span.section-content {

}

.section:nth-child(8) {

}
.section:nth-child(8) span.section-content {

}